tmpdir
private
tmpdir
.vscode
**/cfssl-bins/**
**/node_modules/**
.DS_Store
localEnvs

# ignore all log files
**/*.log

# ignore .env files
.env

# ignore vault install from server/run-vault.sh
.vault
